.jCorner {
    position: absolute;
    bottom: 0;
    right: 0;
}

.jCorner_left {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent transparent #999 transparent;
    opacity: 0.6;
    float: left;
    z-index: 10;
}

.jCorner_right {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    position: relative;
    opacity: 0.6;
    float: left;
    z-index: 10;
}

.jCorner_square {
    width: 0px;
    height: 0px;
    border-style: solid;
    float: left;
}

